@{
  Layout = "_Layout";
}
<div class="well well-body">
  <div class="row">
    <div class="col-md-6">
        <h1>@Model["selected-stylist"].Name</h1>
        <h3><em>@(String.Format("{0:(###) ###-####}", Double.Parse(@Model["selected-stylist"].Phone)))</em></h3>
        <p class="lead">Add a client to this stylist's list of clients, or click on one listed to view their details.</p>
        @if(Model["stylist-clients"].Count == 0)
        {
          <div class="alert alert-warning">
            <h4><em>There are no clients entered yet.</em></h4>
          </div>
        }
        else
        {
          <ul class="list-unstyled client-list">
            @foreach(var client in Model["stylist-clients"])
            {
              <li class="custom-list"><a href='/stylists/@Model["selected-stylist"].Id/clients/@client.Id'>@client.Name</a></li>
            }
          </ul>
        }
      </div>
      <div class="col-md-6 rest-detail">
        @Html.Partial("selected-client")
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <ul class="list-inline other-link">
        <li><a href="/stylists/@Model["selected-stylist"].Id/clients/new">Add a Client</a></li>
        <li><a href="/stylists/">Return to Stylist</a></li>
        <li><a href="/">Return to Home</a></li>
      </ul>
    </div>
  </div>
</div>
